{
  "presets": [
    [
      // Latest stable ECMAScript features
      "@babel/preset-env",
      {
        "useBuiltIns": false,
        "loose": true,
        // Do not transform modules to CJS
        "modules": false,
        "targets": {
          "chrome": "49",
          "firefox": "52",
          "opera": "36",
          "edge": "79"
        }
      }
    ],
    [
      "@babel/typescript",
      {
        "loose": true
      }
    ],
    [
      "@babel/react",
      {
        "loose": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    ["@babel/plugin-transform-destructuring", {
      "loose": true,
      "useBuiltIns": true
    }],
    ["@babel/plugin-proposal-object-rest-spread", {
      "loose": true,
      "useBuiltIns": true
    }],
    [
      // Polyfills the runtime needed for async/await and generators
      "@babel/plugin-transform-runtime",
      {
        "loose": true,
        "helpers": false,
        "regenerator": true
      }
    ]
  ]
}